html {
  font-size: 130% !important;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

a {
  color: #ed1c24;
}

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

/* Cover */
.cover img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Newsletter */
.newsletter-box {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 10px;
  background: none repeat scroll 0 0 black;
  border: 1px solid #f2f2f2;
}

.newsletter-box h5, .newsletter-box p, .newsletter-box a, #mc-embedded-subscribe {
  color: white;
}

#mc_embed_signup input.email {
  display: inline !important;
  margin: 0 4% 10px 0;
  min-width: 130px;
  padding: 8px 0;
  text-indent: 5px;
  width: 58%;
}
#mc_embed_signup input.button {
  display: inline !important;
  margin: 7px -5px 10px !important;
}

#mc_embed_signup_newsletter form {
  padding: 0;
  display: inline !important;
  margin: 7px -5px 10px !important;
}

#mc_embed_signup_newsletter input.email {
  display: inline !important;
  margin: 0 4% 10px 0;
  min-width: 130px;
  padding: 8px 0;
  text-indent: 5px;
  width: 58%;
}

#mc_embed_signup_newsletter input.button {
  display: inline !important;
  margin: 7px -5px 10px !important;
  width: 35%;
}

/* Different stuff */

header {
  margin: 20px 0 25px 0;
}

.article-author {
  font-style: italic;
}


pre.table {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
code { color: #000}
a:hover { text-decoration: underline;}
.navbar a:hover, .navigation-header a:hover { text-decoration: none; }

.author a {
  color: white;
}

.right {
  float: right;
}

.btn a {
  text-decoration: none;
}

.articles {
  margin-top: 10px;
}

.articles ul {
  padding: 25px 0 25px 0;
}

.articles li {
  list-style: none;
  padding: 5px 0px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}

.articles li span {
  float: right;
}

.articles li:last-child {
  border-bottom: none;
}

.articles a {
  text-decoration: none;
}

.active { position: relative; background: #868d92; z-index: 1000; }

.whoring {
  margin-top: 50px;
}

span.information.badge, div.information.badge{
  padding: 10px;
  font-size: 1.2rem;
  height: auto;
  list-style: none;
  background: #4A4D50 none repeat scroll 0% 0%;
  border: 1px solid #4A4D50;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #FFF;
}

.image.circle {
  border-radius: 50% !important;
  overflow: hidden;
  width: auto;
}

/* last commits plugin */
.github-commits-list {
  list-style: none;
}

.github-user, .github-commit {
  padding-right: 10px;
}

.github-user img {
  margin-right: 10px;
}

.fb-like span {
   top: -6px;
}

/* Buttons (especially the preview button) */
.btn.pretty.secondary, .pretty .secondary.btn, .pretty .secondary.skiplink, .skiplink.pretty.secondary {
  background-size: 100% auto;
  background-image: linear-gradient(#80CB92, #3CA957);
  box-shadow: 0px 0px 3px #DAF0E0 inset;
  border: 1px solid #2C6D3C;
}
a.btn.pretty.secondary {
  text-shadow: 0 1px 1px #255a32;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 25.88854px;
  font-weight: 600;
}
a.btn.pretty.secondary:hover {
  background-image: -moz-linear-gradient(#a1d3ad, #68c07d);
  background-image: -webkit-linear-gradient(#a1d3ad, #68c07d);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-image: linear-gradient(#a1d3ad, #68c07d);
  -moz-box-shadow: inset 0 0 3px #f8fcf9;
  text-decoration: none;
}

/* not used so far */
@media (min-width: 1200px) {
}
@media (min-width: 900px) and (max-width: 1199px) {
  .toc {display: none;}
}
@media (max-width: 767px) {
  .toc {display: none;}
}
@media (max-width: 480px) {
  .toc {display: none;}
}

.navigation-footer {
  margin: 30px 0 0 0;
}

.pretty.navbar {
  margin-top: 25px;
}

.toc {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  width: 150px;
  padding-top: 20px;
  color: #fff;
  overflow-y: auto;
}
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc li {
  padding: 5px 10px;
}

.toc a {
  color: #d04526;
  text-decoration: none;
  display: block;
}

.toc .toc-h2 {
  padding-left: 10px;
}

.toc .toc-h3 {
  padding-left: 20px;
}

.toc .toc-h4 {
  padding-left: 30px;
}

.toc .toc-active {
  font-weight: bold;
}
/* flexslider 2 layout */
.flex-direction-nav a:before  { font-size: 28px;}


/* Unused on index page */

/*
Copyright (c) 2010-2012 Ivan Vanderbyl
Originally found at http://ivan.ly/ui

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

*/
    /* Webkit animation keyframes */
    @-webkit-keyframes animate-stripes {
        to {
            background-position: 0 0;
            }

              from {
                  background-position: 44px 0;
                  }
                  }

                    @-moz-keyframes animate-stripes {
                        to {
                            background-position: 0 0;
                            }

                              from {
                                  background-position: 36px 0;
                                  }
                                  }

                                    /* Bar which is placed behind the progress */
                                    .ui-progress-bar {
                                        /* Usual setup stuff */
                                        position: relative;
                                          height: 25px;
                                            /* Pad right so we don't cover the borders when fully
                                                 * progressed */
  padding-right: 2px;
  /* For browser that don't support gradients, we'll set a
     * blanket background colour */
  background-color: #abb2bc;
  /* Rounds the ends, we specify an excessive amount to make
     * sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to
     * the same amount in .ui-progress */
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  /* Background gradient */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #949daa), color-stop(100%, #abb2bc));
  background: -webkit-linear-gradient(#949daa 0%, #abb2bc 100%);
  background: -moz-linear-gradient(#949daa 0%, #abb2bc 100%);
  background: -o-linear-gradient(#949daa 0%, #abb2bc 100%);
  background: -ms-linear-gradient(#949daa 0%, #abb2bc 100%);
  background: linear-gradient(#949daa 0%, #abb2bc 100%);
  /* Give it the inset look by adding some shadows and
     * highlights */
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
  -o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
  /* Alt colours */
  /* Progress part of the progress bar */
}
.ui-progress-bar.blue .ui-progress {
  background-color: #339BB9!important;
  border: 1px solid #287a91;
}
.ui-progress-bar.error .ui-progress {
  background-color: #C43C35 !important;
  border: 1px solid #9c302a;
}
.ui-progress-bar.warning .ui-progress {
  background-color: #D9B31A!important;
  border: 1px solid #ab8d15;
}
.ui-progress-bar.success .ui-progress {
  background-color: #57A957!important;
  border: 1px solid #458845;
}
.ui-progress-bar.transition .ui-progress {
  -moz-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
  -webkit-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
  -o-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
  transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
}
.ui-progress-bar .ui-progress {
  /* Usual setup stuff */
  position: relative;
  display: block;
  overflow: hidden;
  /* Height should be 2px less than .ui-progress-bar so as
     * to not cover borders and give it a look of being inset
        * */
  height: 23px;
  /* Rounds the ends, we specify an excessive amount to make
     * sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to
     * the same amount in .ui-progress-bar */
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  /* Set the background size so the stripes work correctly
     * */
  -webkit-background-size: 44px 44px;
  -moz-background-size: 36px 36px;
  /* Webkit */
  /* For browser that don't support gradients, we'll set a
     * base background colour */
  background-color: #74d04c;
  /* Webkit background stripes and gradient */
  background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.35))), #74d04c;
  /* Mozilla (Firefox etc) background stripes */
  /* Note: Mozilla's support for gradients is more true to
     * the original design, allowing gradients at 30 degrees,
        * as apposed to 45 degress in webkit. */
  background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #74d04c;
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
  /* Give it a higher contrast outline */
  border: 1px solid #4c8932;
  /* Animate */
  -moz-animation: animate-stripes 2s linear infinite;
  -webkit-animation: animate-stripes 2s linear infinite;
  -o-animation: animate-stripes 2s linear infinite;
  -ms-animation: animate-stripes 2s linear infinite;
  -khtml-animation: animate-stripes 2s linear infinite;
  animation: animate-stripes 2s linear infinite;
  /* Style status label */
}
.ui-progress-bar .ui-progress span.ui-label {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 13px;
  position: absolute;
  right: 0;
  line-height: 23px;
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0px;
  white-space: nowrap;
}
.ui-progress-bar .ui-progress span.ui-label b {
  font-weight: bold;
}



// social-media hover colors

.share {
  position: relative;
}

.social {
  background: transparent none repeat scroll 0 0;
  display: block;
  font-size: 22px;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 5%;
  z-index: 9999;
}

.social ul li {
  list-style-type: none;
  padding: 0;
}

.social a {
  color: #bbc7cc;
  display: inline-block;
  font-size: 2.3rem;
  text-decoration: none;
}

.social a.icon-stumbleupon:hover, a.fa-stumbleupon:hover {
  color: #eb4823;
}
.social a.fa-twitter-square:hover, a.fa-twitter:hover {
  color: #55acee;
}
.social a.fa-facebook-square:hover, a.fa-facebook:hover {
  color: #3b5998;
}
.social a.fa-google-plus-square:hover, a.fa-google-plus:hover {
  color: #d34836;
}
.social a.fa-github-square:hover {
  color: #2f2f2f;
}

a.fa-reddit-alien:hover {
  color: #ff5700;
}

a.fa-medium:hover {
  color: #00ab6b
}


// share
.hidden {
  display: none;
}

.sharing a {
  left: 50%;
  color: #bbc7cc;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 1.6rem 1.6rem 0;
  text-decoration: none;
}
.sharing h5 {
  margin-left: 4.3rem;
}

.button.success {
  background-color: #3adb76;
  color: white;
}


/* Alert-Box */
.form-horizontal {
  margin-left: 1.7rem;
}
.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.alert-success {
  color: #3adb76;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


/* Media-Queries */
@media (max-width: 1800px) {
  .social {
    display: none;
  }
}

@media (max-width: 900px) {
  .sharing h5 {
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
  }

  .sharing a {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 120% !important;
  }

  .person-behind-the-book {
    display: none;
  }

  .row {
    margin-left: 0.3rem;
  }

  .social {
    display: none;
  }

  .info {
    margin-left: 30px;
  }

  .image {
    display: none;
  }
}

@media (max-width: 440px) {
  .copyright, .footer-separater {
    display: none;
  }
  footer nav a {
    display: block;
  }
  .sharing h5 {
    margin-right: 1rem;
    display: flex;
  }

  .sharing a {
    font-size: 2rem;
    margin-left: 0.1rem;
  }
}
