html {
  font-size: 130% !important;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

a {
  color: #ed1c24;
}

a:hover { text-decoration: underline;}

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.content h1 {
  font-size: 2.6em;
}

.content h2 {
  font-size: 2.1em;
}

.button.is-light{
  background-color: #eeeeee !important;
}
.button.is-light:hover{
  background-color: #dedede !important;
}
.button.cta {
  text-decoration: none;
  margin-right: 10px;
}
.button.cta-mobile {
  text-decoration: none;
}

#logo-text, img#logo {
  margin-bottom: 1.4rem;
}
#logo-text strong, h1 {
  font-size: 2.6rem;
  margin-left: 0;
}
#logo-text h1 {
  font-size: 2.6rem;
  margin-left: 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

/* Different stuff */

header {
  margin: 20px 0 25px 0;
}

.article-author {
  font-style: italic;
}

pre.table {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
code { color: #000}
.navbar a:hover, .navigation-header a:hover { text-decoration: none; }

.author a {
  color: white;
}

.right {
  float: right;
}

.btn a {
  text-decoration: none;
}

.articles {
  margin-top: 10px;
}

.articles ul {
  padding: 25px 0 25px 0;
}

.articles li {
  list-style: none;
  padding: 5px 0px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}

.articles li span {
  float: right;
}

.articles li:last-child {
  border-bottom: none;
}

.articles a {
  text-decoration: none;
}

.active { position: relative; background: #868d92; z-index: 1000; }


.image.circle {
  border-radius: 50% !important;
  overflow: hidden;
  width: auto;
}

/* last commits plugin */
.github-commits-list {
  list-style: none;
}

.github-user, .github-commit {
  padding-right: 10px;
}

.github-user img {
  margin-right: 10px;
}

.fb-like span {
   top: -6px;
}


.pretty.navbar {
  margin-top: 25px;
}

.toc {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  width: 150px;
  padding-top: 20px;
  color: #fff;
  overflow-y: auto;
}
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc li {
  padding: 5px 10px;
}

.toc a {
  color: #d04526;
  text-decoration: none;
  display: block;
}

.toc .toc-h2 {
  padding-left: 10px;
}

.toc .toc-h3 {
  padding-left: 20px;
}

.toc .toc-h4 {
  padding-left: 30px;
}

.toc .toc-active {
  font-weight: bold;
}


// social-media hover colors

.share {
  position: relative;
}

.social {
  background: transparent none repeat scroll 0 0;
  display: block;
  font-size: 22px;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 5%;
  z-index: 9999;
}

.social ul li {
  list-style-type: none;
  padding: 0;
}

.social a {
  color: #bbc7cc;
  display: inline-block;
  font-size: 2.3rem;
  text-decoration: none;
}

.social a.icon-stumbleupon:hover, a.fa-stumbleupon:hover {
  color: #eb4823;
}
.social a.fa-twitter-square:hover, a.fa-twitter:hover {
  color: #55acee;
}
.social a.fa-facebook-square:hover, a.fa-facebook:hover {
  color: #3b5998;
}
.social a.fa-google-plus-square:hover, a.fa-google-plus:hover {
  color: #d34836;
}
.social a.fa-github-square:hover {
  color: #2f2f2f;
}

a.fa-reddit-alien:hover {
  color: #ff5700;
}

a.fa-medium:hover {
  color: #00ab6b
}


// share
.hidden {
  display: none;
}

.sharing a {
  left: 50%;
  color: #bbc7cc;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 1.6rem 1.6rem 0;
  text-decoration: none;
}
.sharing h5 {
  margin-left: 4.3rem;
}

.button.success {
  background-color: #3adb76;
  color: white;
}

/* Alert-Box */
.form-horizontal {
  margin-left: 1.7rem;
}
.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.alert-success {
  color: #3adb76;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* Navigation */
.navbar-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: .5rem 0;
}

.navbar-end > a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: -1px;
    padding: .5em 2em;
}

.navbar-end > a.is-active {
  color: white;
  background-color: black !important;
}

/* Testimonials */
#testimonials {
  border-top: 1px dotted #c9c5cf;
}

#testimonials h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

.testimonial .portrait img {
  border-radius: 100px;
  width: 55px;
  height: 55px;
}

.testimonial h5 {
  font-size: 18px;
  margin-left: 10px;
}

.testimonial h5.name {
  color: #ed1c24;
}
.testimonial h5.position {
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 14px;
}

/* Padrino */
#padrino {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#padrino h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

#padrino p.intro {
  font-size: 140%;
}

/* Building */
#building {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#building h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

#building h3 {
  text-align: center;
  font-size: 1.2em;
}

/* Getting */
#getting {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}
#getting h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}
#getting image.get img {
  height: auto;
  width: auto;
}


.feature {
  text-align: center;
}

.feature h5 {
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Chapters */
#chapters {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#chapters h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

#chapters ul.list {
  list-style-type: none;
}
#chapters ul.list li {
  border-bottom: 1px dotted #c9c5cf;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#chapters ul.list li:last-child {
  border-bottom: none;
}

#chapters ul.list .subchapter {
  margin-left: 25px;
}

#chapters ul.list .chapter-number {
  float: right;
  color: #aaa9b1;
  font-weight: 300;
}

/* Buy */
#buy {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#buy h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Author */
#author {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#author h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

#author p.center.name {
  margin-top: 5px;
}

/* Starting */
#starting-time {
  margin-top: 50px;
}

#starting-time h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: -7px;
}

/* Newsletter */
#newsletter {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#newsletter h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Newsletter Signup (only on mobile visible)*/
#newsletter-signup {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#newsletter-signup h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

#newsletter-signup form {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

/* Questions */
#questions {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#questions h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}
#questions h3 {
  font-weight: 450;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Contact */
#contact {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#contact h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: -10px;
}

/* Packages */
#package-basic {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#package-basic h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: -10px;
}

#package-full {
  border-top: 1px dotted #c9c5cf;
  margin-top: 50px;
}

#package-full h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: -10px;
}

p.packages-intro {
  color: #8F8E96;
}

p.package-version-text {
  text-align: center;
  margin-bottom: 2em;
}

/* Media-Queries */
@media screen and (min-width: 1023px) {
  .navbar-end {
    display: none;
  }

  #logo-text {
    display: none;
  }
}

footer a.footer-mobile {
  display: none;
}

@media (max-width: 1600px) {
  .social {
    display: none;
  }
}

@media (max-width: 900px) {
  .mobile-space {
    margin-top: 1.5em;
  }

  .sharing h5 {
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
  }

  .sharing a {
    font-size: 1rem;
  }

  h1, h2 {
    margin-left: 1.2rem;
  }

  p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    text-rendering: optimizelegibility;
  }

  footer span.copyright, footer span.footer-separater, footer nav i.far, footer a.footer-desktop {
    display: none;
  }

  footer nav a.footer-mobile {
    display: block;
    margin-bottom: 25px;
    font-size: 25px;
  }

  #logo-text {
    display: inherit;
    margin-left: 1.2rem;
    font-size: 2.5rem;
  }

  span.information.badge, div.information.badge {
    margin-left: 24px;
  }

  .newsletter {
    padding: 1.75rem;
  }

  .testimonial h5 {
    font-size: 20px;
  }

  .testimonial .center a.portrait {
    margin-top: 22em;
  }

  .testimonial .portrait img {
    border-radius: 100px;
    width: 95px;
    height: auto;
  }

  /* testimonial */
  .content blockquote {
    border-left: none;
  }

  /* Packages */
  .column.package {
    text-align: center;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 120% !important;
  }

  .input {
    max-width: 94%;
  }

  .textarea {
    min-width: 95% !important;
    max-width: 95% !important;
  }

  .row {
    margin-left: 0.3rem;
  }

  .info {
    margin-left: 30px;
  }

  img#logo {
    display: none;
  }

  #chapters ul.list .chapter-number {
    float: right;
    margin-right: 20px;
    color: #aaa9b1;
    font-weight: 300;
  }

  #building h3 {
    text-align: center;
    font-size: 0.9em;
  }
}

@media (max-width: 440px) {
  .copyright, .footer-separater {
    display: none;
  }

  .sharing h5 {
    margin-right: 1rem;
    display: flex;
  }
  .sharing a {
    font-size: 2rem;
    margin-left: 0.1rem;
  }
}
