<br>
<div class="row">
  <div class="large-11 large-offset-4 columns sharing">
    <h5>Share this post</h5>
    <a class='fa fa-twitter' href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&amp;amp;url={{ site.url }}{{ page.url | escape }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title='Share this article on Twitter'>
      <span class='hidden'></span>
    </a>
    <a class='fa fa-facebook' href='https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | escape }}' onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title='Share this article on Facebook'>
      <span class='hidden'></span>
    </a>
    <a class='fa fa-reddit-alien' href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url | escape }}&amp;amp;title={{ page.title | escape }}" onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');return false;" title='Share this article on Reddit'>
      <span class='hidden'></span>
    </a>
    <a class='fa fa-stumbleupon' href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url | escape }}&amp;amp;title={{ page.title | escape }}" onclick="window.open(this.href, 'stumbleupon-share', 'width=550,height=235');return false;" title='Share this article on Stumbleupon'>
      <span class='hidden'></span>
    </a>
  </div>
</div>

