<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#" >
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="True" name='HandheldFriendly'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="author" content="Matthias Günther">

    <title>{% if page.title %}PadrinoBook | {{ page.title }} {% else %}PadrinoBook{% endif %}</title>

    <link rel="canonical" href="https://padrinobook.com{{ page.url }}" />

    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- <link rel="stylesheet" href="/css/flexslider.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome.css">

    <meta content="noodp" name="robots" >

    <meta property="og:site_name" content="Padrinobook" />
    <meta property="og:title" content="{% if page.title %}PadrinoBook | {{ page.title }} {% else %}{{ site.description }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="https://padrinobook.com{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://padrinobook.com/logo.png" />

    <meta content="summary_large_image" name="twitter:card" />
    <meta content="@wikimatze" name="twitter:creator" />
    <meta content="@padrinobook" name="twitter:site" />
    <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }} written by @wikimatze {% endif %}" name="twitter:title" />
    <meta content="{% if page.description %}PadrinoBook | {{ page.description }}{% else %}{{ site.description }} written by @wikimatze {% endif %}" name="twitter:description" />
    <meta content="https://padrinobook.com{{ page.url }}" name="twitter:url" />
    <meta content="{% if page.twitter_src %}{{ page.twitter_src }}{% else %}https://farm4.staticflickr.com/3725/33337025026_d36474c52b_b_d.jpg{% endif %}" name="twitter:image:src" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class='social share'>
      <ul>
        <li>
          <a class='fa fa-twitter-square' href='https://twitter.com/padrinobook' rel='noopener noreferrer' target='_blank' title='Follow me on Twitter'></a>
        </li>
        <li>
          <a class='fa fa-facebook-square' href='https://www.facebook.com/padrinobook' rel='noopener noreferrer' target='_blank' title='Follow me on Facebook'></a>
        </li>
        <li>
          <a class='fa fa-google-plus-square' href="https://plus.google.com/109249095952663676924" rel='noopener noreferrer' target='_blank' title='Follow me on Google+'></a>
        </li>
        <li>
          <a class='fa fa-github-square' href='https://github.com/padrinobook/padrinobook' rel='noopener noreferrer' target='_blank' title='Follow me on GitHub'></a>
        </li>
        <li>
          <a class='fa fa-medium' href='https://medium.com/@padrinobook' rel='noopener noreferrer' target='_blank' title='Follow me on Medium'></a>
        </li>
      </ul>
    </div>

    <br>

    <div class="row">
      <div class="small-6 large-6 medium-6 columns">
        <h1>
          <a href="/index.html" title="Padrinobook - A book about the Elegant Ruby Web Framework">
            <img src="/logo.png" alt="Logo of Padrinobook"/>
          </a>
        </h1>
      </div>
      <div class="large-6 medium-6 columns info">
        <br>
        <br>
        <!-- <div class="information badge author primary">                     -->

        <!--   Written by <a href="http://twitter.com/wikimatze">@wikimatze</a> -->
        <!-- </div>                                                             -->
        <!-- <br><br>                                                           -->

        <a class="nice large success button pretty large secondary btn " href="https://www.softcover.io/downloads/fd219c19/padrinobook">Preview</a>
        or <a href="/book">read online</a>.
        <br><br>
        <br><br>

        <!-- <p><a href="https://gitter.im/padrinobook/padrinobook"><img style="max-width:100%;" data-canonical-src="https://badges.gitter.im/vimberlin/vimfest.svg" alt="Join the chat at https://gitter.im/padrinobook/padrinobook" src="https://camo.githubusercontent.com/8dcaef4365e5cfbabfb17fdb2df140a3b556a693/68747470733a2f2f6261646765732e6769747465722e696d2f76696d6265726c696e2f76696d666573742e737667"></a></p> -->
        <br><br>
        <!-- <div class="ui&#45;progress&#45;bar ui&#45;container" id="progress_bar"> -->
        <!--   <div class="ui&#45;progress" style="width: 25%;"> -->
        <!--     <span class="ui&#45;label"> -->
        <!--       Book status: <b class="value">25%</b> -->
        <!--     </span> -->
        <!--   </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <hr>
    </div>
    {{ content }}

    <div class="row">
      <div class="large-12 medium-12 columns">
        <hr>
        <footer>
          <nav>
            2017 &copy; <a href="http://wikimatze.de">Matthias Günther</a>
            &bull;
            <a href="/newsletter">Newsletter</a>
            &bull;
            <a href="/about">About</a>
            &bull;
            <a href="/imprint">Imprint</a>
          </nav>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us6.list-manage.com","uuid":"4010f8ce18503766e176536f1","lid":"198f8c0321"}) })</script>

    <!-- <script type="text/javascript" src="/js/vendor/jquery.js"></script> -->
    <script type="text/javascript" src="/js/main.js"></script>
    <!-- <script type="text/javascript" src="/js/github-commits-widget.js"></script> -->

    {% if jekyll.environment == "production" %}
    <!-- Hotjar Tracking Code for https://padrinobook.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:442173,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Piwik tracking pixel -->
    <noscript><p><img src="https://padrinobook.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    {% endif %}
  </body>
</html>
