<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>PadrinoBook</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PadrinoBook - The Guide To Master The Elegant Ruby Web Framework" />
    <meta name="author" content="Matthias Günther">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <!--
    <div class="pretty navbar row" id="nav4">
      <a class="toggle" gumby-trigger="#nav4 > ul" href="#"><i class="icon-menu"></i></a>
      <h1 class="four columns logo">
      <a href="/">
        <img src="/images/gumby_mainlogo.png" gumby-retina="">
      </a>
      </h1>
      <ul class="eight columns">
        <li><a href="https://leanpub.com/padrino">Get <i class="icon-basket"></i></a></li>
        <li><a href="/book_index.html">Read<i class="icon-book-open"></i></a></li>
        <li><a href="/newsletter.html">Update <i class="icon-mail"></i></a></li>
        <li><a href="/about.html">About <i class="icon-user"></i></a></li>
      </ul>
    </div>
    -->

    <div class="row">
      <div class="large-6 medium-6 columns">
        <h1>
          <a href="/index.html" title="Padrinobook - A book about the Elegant Ruby Web Framework">
            <img src="/logo.png"/>
          </a>
      </div>
      <div class="large-6 medium-6 columns">
        <br>
        <span class="info badge author primary">

          Written by <a href="http://twitter.com/wikimatze">@wikimatze</a>
        </span>
        <br>
        <br>

        <a class="nice large success button pretty large secondary btn " href="https://www.softcover.io/downloads/fd219c19/padrinobook">Preview</a>
        or <a href="/book">read online</a>.

        <br>
        <script async defer src="https://padrinobook.herokuapp.com/slackin.js?large"></script>
        <br>
        <br>
        <!-- <div class="ui&#45;progress&#45;bar ui&#45;container" id="progress_bar"> -->
        <!--   <div class="ui&#45;progress" style="width: 25%;"> -->
        <!--     <span class="ui&#45;label"> -->
        <!--       Book status: <b class="value">25%</b> -->
        <!--     </span> -->
        <!--   </div> -->
        <!-- </div> -->
      </div>
      <hr>
    </div>
    {{ content }}

    <div class="row">
      <div class="large-12 medium-12 columns">
        <hr>
        <footer>
          <nav>
            2015 &copy; <a href="http://wikimatze.de">Matthias Günther</a>
            <!--
            &bull;
            <a href="/about.html">About</a>-->
            &bull;
            <a href="https://twitter.com/padrinobook">@padrinobook</a>
            &bull;
            <a href={{ site.email }}>{{ site.email }}</a>
            &bull;
            <a href="/imprint.html">Imprint</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="padrinobook">Tweet</a>
              <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <a href="http://twitter.com/padrinobook" class="twitter-follow-button" data-show-count="false">Follow padrinobook</a>
              <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <div class="fb-like" data-href="https://www.facebook.com/Padrinobook" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
          </nav>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/github-commits-widget.js"></script>

    <!--
    <script src="js/jquery.flexslider-min.js"></script>
    -->

  <!-- Piwik tracking pixel -->
  <noscript><p><img src="http://padrinobook.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <div id="fb-root"></div>
  </body>
</html>
