---
layout: default
---

<article>
  <div class="container">
    <h2>{{ page.title }}</h2>

    <!-- <header>                                                                     -->
    <!--   <div class="article-author">                                               -->
    <!--     Written by <a href="https://twitter.com/wikimatze">{{ site.author }}</a> -->

    <!--     {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %} -->
    <!--   </div>                                                                     -->
    <!-- </header>                                                                    -->

    {{ content }}
  </div>
</article>

