---
layout: default
---

<article>
  <div class="row">
    <div class="large-10 medium-10 columns">
    <h2>{{ page.title }}</h2>

    <header>
      <div class="article-author">
        Written by <a href="https://twitter.com/wikimatze">{{ site.author }}</a>
        {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %}
      </div>
    </header>

    {{ content }}

    {% include sharing.html %}

    <!--
    <aside>
      {% include comments.html %}
    </aside>
    -->
</article>

