---
layout: default
---

<article>
  <div class="row">
    <div class="large-10 medium-10 columns">
    <h2>{{ page.title }}</h2>

    <header>
      <div class="author">
        <img src="http://www.gravatar.com/avatar/9172bb642e29e9959f078f329308faa1?s=20" alt="Matthias Günther's Gravatar">
        <a href="https://twitter.com/wikimatze">{{ site.author }}</a>
        {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %}
      </div>
    </header>
    <div class="clearfix"></div>

    {{ content }}

    {% include sharing.html %}

    <!--
    <aside>
      {% include comments.html %}
    </aside>
    -->
</article>

